body {
	padding: 0;
	margin: 0;
}
.calculator {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 30%;
	margin-top: 20%;
}
.calculator .resultat {
}
.row {
	margin: 0px 0px 0px 0px;
	background-color: bisque;
	display: flex;
	flex: 0 0 60%;
}
.row > * {
	padding: 8%;
	border: 1px solid;
	flex: 1;
	text-align: center;
}
.resultat {
	border: 1px solid;
	background-color: black;
	color: white;
	font-size: 20px;
}
.resultat p {
	border: none;
	text-align: right;
}

.secondRow .c {
	background-color: whitesmoke;
	flex: 2;
	text-align: center;
}
.secondRow .backspace {
	flex: 1;
	text-align: center;
}
.secondRow .division {
	text-align: center;
	flex: 1;
}
.thirdRow {
	display: flex;
}
.thirdRow > * {
	text-align: center;
	flex: 1;
}

.fourthRow {
	display: flex;
}
.fourthRow > * {
	text-align: center;
	flex: 1;
}

.fifthRow {
	display: flex;
}
.fifthRow > * {
	text-align: center;
	flex: 1;
}

.finalRow {
	display: flex;
}
